<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877784344083-ej9u77b3a0is5mq5nie7bfhv32s0s65b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877784344083-ej9u77b3a0is5mq5nie7bfhv32s0s65b</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHq_-nFS7WGmayzPjsD_nMq3aUck9xhA</string>
	<key>GCM_SENDER_ID</key>
	<string>877784344083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kilemba</string>
	<key>PROJECT_ID</key>
	<string>kilemba-df33a</string>
	<key>STORAGE_BUCKET</key>
	<string>kilemba-df33a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877784344083:ios:fee284e17b96c6dff3c1e6</string>
</dict>
</plist>